<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit User Info</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        .jumbotron {
            padding: 30px;
            background-color: #333;
            color: #fff;
            text-align: center;
        }
        .jumbotron h1 {
            font-size: 40px;
        }
        form {
            width: 80%;
            margin: 20px auto;
        }
        label {
            font-size: 20px;
            display: block;
            margin: 10px 0;
        }
        input, textarea, select {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            border: 1px solid #333;
        }
        input[type="submit"] {
            background-color: #333;
            color: #fff;
            cursor: pointer;
        }
        input[type="submit"]:hover {
            background-color: #fff;
            color: #333;
        }
        button {
            display: block;
            width: 100px;
            margin: 20px auto;
            background-color: #333;
            color: #fff;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        button:hover {
            background-color: #fff;
            color: #333;
        }
    </style>
</head>

<body>
    <div class="jumbotron text-center">
        <h1>Create New User Document</h1>
    </div>
    <form action="/create" method="POST">
        <label for='UserName'><b>UserName:</b></label><br>
        <input type="text" id="UserName" name="UserName" placeholder="Name of user"><br><br>

        <label for="date"><b>Date:</b></label><br>
        <input type="date" id="date" name="date" placeholder="DD/MM/YYYY"><br>
        <small>Format: DD/MM/YYYY</small><br>

        <label for='borrow_or_return'><b>Borrow or Return:</b></label><br>
        <select id="borrow_or_return" name="borrow_or_return">
            <option value="borrow">Borrow</option>
            <option value="return">Return</option>
        </select><br><br>

        <label for='book_type'><b>Book Type:</b></label><br>
        <input type="text" id="book_type" name="book_type" placeholder="Type of book"><br><br>

        <label for='book_name'><b>Book Name:</b></label><br>
        <input type="text" id="book_name" name="book_name" placeholder="Name of book"><br><br>    

        <label for='phone_num'><b>Telephone number:</b></label><br>       
        <input type="text" id="phone_num" name="phone_num" placeholder="User phone" pattern="[0-9]{8}"><br>
        <small>Format: 12345678 (8 digits)</small><br><br>

        <label for='remark'><b>Remark:</b></label><br>
        <textarea name="remark" id="remark" cols="50" rows="10" placeholder="Type your remarks here..."></textarea><br>

        <input type="submit" value="Create" /> 
    </form>    
    <button onclick="location.href='/home'">Back to Home</button>
</body>
</html>
