<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <title>Document</title>
   

    <style>
        body {
            background: url("pic/library2.jpg") center;
            background-size: 120% auto;
            background-repeat: no-repeat;
            background-color: #f1f1f1;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            flex-direction: column;
            background-color: #f1f1f1;
        }

        .login-form {
            background-color: white;
            padding: 40px;
            border-radius: 10px;
            margin-top: 20px;
            max-width: 500px;
            width: 90%;
        }

        .logo-image {
            width: 200px;
            height: auto;
            margin-bottom: 20px;
        }

        label {
            font-size: 50px;
        }

        input[type="text"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            font-size: 25px;
            margin-bottom: 20px;
        }

        button[type="submit"] {
            padding: 10px 20px;
            font-size: 35px;
        }

        .title {
            font-size: 50px;
            font-weight: bold;
            margin-bottom: 20px;
        }
         .code-box {
        border: border-radius: 5px; 
        padding: 60px; 
        background-color: rgba(255, 255, 255, 0.8); 
        }
    </style>
</head>

<body>
    <div class="code-box">
        <h1 class="title"><center>Library Information System</center></h1>
        <h2 style="font-size: 35px;">Welcome!</h2>
        <form action="/login" method="post">
            <label for="account"><b>Enter Your Account Here:</b></label><br>
            <input type="text" id="account" name="account" placeholder="Your username"><br><br>
            <label for="password"><b>Enter Your Password Here:</b></label><br>
            <input type="password" id="password" name="password" placeholder="Your password"><br><br>
            <button type="submit">Conform to login</button>
        </form>
        <p style="font-size: 30px;">**Make sure you have an account here**</p>
    </div>
</body>



</html>
