<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        .jumbotron {
            padding: 30px;
            background-color: #333;
            color: #fff;
            text-align: center;
        }
        .jumbotron h1 {
            font-size: 40px;
        }
        form {
            width: 80%;
            margin: 20px auto;
        }
        label {
            font-size: 20px;
            display: block;
            margin: 10px 0;
        }
        input[type="text"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            border: 1px solid #333;
        }
        input[type="submit"] {
            display: block;
            width: 100px;
            margin: 20px auto;
            background-color: #333;
            color: #fff;
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;
        }
        input[type="submit"]:hover {
            background-color: #fff;
            color: #333;
        }
        a {
            display: block;
            width: 100px;
            margin: 20px auto;
            background-color: #333;
            color: #fff;
            padding: 10px;
            text-align: center;
            border-radius: 5px;
        }
        a:hover {
            background-color: #fff;
            color: #333;
        }
    </style>
</head>
<body>
	<div class="jumbotron text-center">
	<h1>Search Library Document Information</h1>
	</div>
	<form action="/search" method="POST">
	<label for="UserName"><b>Please input UserName here:</b></label><br>
	<input type="text" id="UserName" name="UserName" placeholder="Type the UserName here" >
	<input type="submit" value="Search" />
	<p><a href='/home'>Return</a></p>
</body>
</html>
